*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

.auth-container{
    height: 100vh;
    background: linear-gradient(135deg, #4f46e5, #6366f1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-card{
    width: 400px;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
      box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.auth-card h2{
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
.auth-card input{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
}
.auth-card input:focus{
    border: 2px solid rgba(0, 0, 255, 0.377);
    outline: none;
}

.auth-card button{
    width: 100%;
    padding: 10px;
    background: #4f46e5;
    color: #fff;
    border: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.auth-card button:hover{
    background: #4338ca;
}